# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.user
*.suo
*.userprefs
*.pidb

# Unity meta cache
*.pidb.meta

# OS
.DS_Store
Thumbs.db

# Godot
.godot/
*.import
*.translation
export_presets.cfg
.mono/
data_*/
